[
  { "ParameterKey": "AppDBUsername", "ParameterValue": "dmf-prod" },
  { "ParameterKey": "FrontendContainerImageTag", "ParameterValue": "${IMAGE_TAG}" },
  { "ParameterKey": "Auth0ClaimsNamespace", "ParameterValue": "https://api.dataforge.com" },
  { "ParameterKey": "DBMasterPassword", "ParameterValue": "${DB_MASTER_PASSWORD}" },
  { "ParameterKey": "FrontendContainerImage", "ParameterValue": "ghcr.io/quantum-soft-dev/data-forge-middleware-frontend" },
  { "ParameterKey": "JWTSecret", "ParameterValue": "${JWT_SECRET}" },
  { "ParameterKey": "Auth0Audience", "ParameterValue": "https://api.dataforge.com" },
  { "ParameterKey": "Auth0SPAClientId", "ParameterValue": "PASTE_PROD_SPA_ID" },
  { "ParameterKey": "BackendContainerName", "ParameterValue": "dfm-backend" },
  { "ParameterKey": "SpringProfileActive", "ParameterValue": "prod" },
  { "ParameterKey": "RedisPort", "ParameterValue": "6379" },
  { "ParameterKey": "Auth0MgmtClientSecret", "ParameterValue": "${AUTH0_CLIENT_SECRET}" },
  { "ParameterKey": "DomainName", "ParameterValue": "api.dataforge.com" },
  { "ParameterKey": "DBMasterUsername", "ParameterValue": "admin" },
  { "ParameterKey": "FrontendContainerName", "ParameterValue": "dfm-frontend" },
  { "ParameterKey": "HostedZoneId", "ParameterValue": "PASTE_PROD_ZONE_ID" },
  { "ParameterKey": "Auth0Domain", "ParameterValue": "dataforge-prod.us.auth0.com" },
  { "ParameterKey": "AppDBPassword", "ParameterValue": "${APP_DB_PASSWORD}" },
  { "ParameterKey": "AllowedCIDR", "ParameterValue": "0.0.0.0/0" },
  { "ParameterKey": "Auth0MgmtClientId", "ParameterValue": "${AUTH0_CLIENT_ID}" },
  { "ParameterKey": "RedisPassword", "ParameterValue": "${REDIS_PASSWORD}" },
  { "ParameterKey": "RedisHost", "ParameterValue": "prod-redis.example.com" },
  { "ParameterKey": "BackendContainerImage", "ParameterValue": "ghcr.io/quantum-soft-dev/data-forge-middleware" },
  { "ParameterKey": "BackendContainerImageTag", "ParameterValue": "${IMAGE_TAG}" },
  { "ParameterKey": "GitHubToken", "ParameterValue": "${GHCR_PAT}" },
  { "ParameterKey": "CertificateArn", "ParameterValue": "PASTE_PROD_CERT_ARN" },
  { "ParameterKey": "PluginBitbiClientId", "ParameterValue": "${PLUGIN_BITBI_CLIENT_ID}" }
]
